:root {
    --header-color: #C1ADE6;

    --nav-text-color: #FED107;

    --black: #010001;
    --grey: #4A4A4A;
    --light-grey: #e6e6e6;
    --lighter-grey: #fafafa;
}

@font-face {
    font-family: 'OZIK-Bold.woff2';
    src: url('../assets/fonts/OZIK-Bold.woff2');
}

@font-face {
    font-family: 'PPAgrandir-Bold.woff2';
    src: url('../assets/fonts/PPAgrandir-Bold.woff2');
}

@font-face {
    font-family: 'PPAgrandir-Medium.woff2';
    src: url('../assets/fonts/PPAgrandir-Medium.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'PPAgrandir-Medium.woff2', sans-serif;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    font-family: "OZIK-Bold.woff2", sans-serif;
    font-size: 1.5em;
    background-color: var(--header-color);
    padding: 10px;
    text-align: center;
    color: #010001;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 140px;
}

header p {
    color: var(--grey);
    width: auto;
}

header a {
    color: var(--nav-text-color);
    display: inline-block;
}

header a:hover {
    filter: contrast(1.5) grayscale(0.2);
}

header ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

header ul li img {
    margin: 0 10px;
    width: 2em;
}


#switchLanguage {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#switchLanguage img {
    width: 3.25rem;
    text-transform: capitalize;
}

#switchLanguage button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#switchLanguage button:not(.active) {
    display: none;
}

#switchLanguage:hover button {
    display: block;
}

#switchLanguage button.active {
    order: -1;
}